nav {
  background: #6b7a8f;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6b7a8f;
}

li {
    float: left;
    padding: 1% 8%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
}

li a {
    display: block;
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
    position: relative;
}

li a:hover {
    background-color: #f7882f;
}
.first {
  padding-left: 19%;
}
.last {
  padding-right: 19%;
}
h1 {
  font-family: 'Homemade Apple', cursive;
}
h2 {
  font-family: 'Roboto Slab', serif;
}
h1, h2 {
  text-align: center;
}
.content {
  /*background: #dcc7aa;*/
}
img {
 width: 25%;
 height: 25%;
}
.friends {
  width: 95%;
  text-align: center;
  padding: 15px;
}
footer {
  background-color: #6b7a8f;
  text-align: center;
  height: 25px;
  padding: 15px;
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
}
