nav {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6b7a8f;
}

li {
    float: left;
    width: 25%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
}
h1 {
  font-family: 'Homemade Apple', cursive;

}
h2 {
  font-family: 'Roboto Slab', serif;
}
h1, h2 {
  text-align: center;
}
h3 {
  font-family: 'Open Sans Condensed', sans-serif;
}
.content {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5px;
}
.quarter-size {
 width: 25%;
 height: 25%;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.friends {
  width: 95%;
  text-align: center;
  padding: 15px;
}
.about-pic {
  margin-right: 25px;
  height: 150px;
  border-radius: 300px;
}
.dna-pic {
  width: 50%;
}
.about{
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  margin-bottom: -25px;
  width: 95%;
}
.header-about {
  display: inline-block;
  text-align: center;
}
input {
  font-family: 'Roboto Slab', serif;
}
.name, .email {
  height: 30px;
}
.message {
  height: 200px;
}
.center {
  text-align: center;
  margin: auto;
}
footer {
  width: 100%;
  background-color: #6b7a8f;
  text-align: center;
  height: 25px;
  padding: 15px;
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
